name: Release IOTHub Client Generator to Nuget

on:
  release:
    types: [published]
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    - name: Create Nuget Package
      run: dotnet pack -c Release /p:VersionNumber=${{ github.event.release.tag_name}} /p:PackageReleaseNotes="See https://github.com/alonf/IoTHubClientGenerator/releases/tag/${{github.event.release.tag_name}}" IoTHubClientGenerator/IoTHubClientGenerator.csproj
    - name: Archive Nuget Package for IoTHubClientGenerator
      uses: actions/upload-artifact@v1
      with:
        name: packages
        path: "IoTHubClientGenerator/bin/Release/IoTHubClientGenerator.${{github.event.release.tag_name}}.nupkg"
