name: Release IOTHub Client Generator SDK to Nuget

on:
  release:
    types: [published]
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    - name: Setup .NET 3
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'    
    - name: Create Nuget Package
      run: dotnet pack -c Release /p:VersionNumber=${{ github.event.release.tag_name}} /p:PackageReleaseNotes="See https://github.com/alonf/IoTHubClientGenerator/releases/tag/${{github.event.release.tag_name}}" IoTHubClientGeneratorSDK/IoTHubClientGeneratorSDK.csproj
    - name: Archive Nuget Package for IoTHubClientGeneratorSDK
      uses: actions/upload-artifact@v1
      with:
        name: packages
        path: "IoTHubClientGeneratorSDK/bin/Release/IoTHubClientGeneratorSDK.${{github.event.release.tag_name}}.nupkg"
    - name: Publish Nuget Package
      run: dotnet nuget push **/*.nupkg --api-key ${{ secrets.nuget_api_key }} --source https://api.nuget.org/v3/index.json

     

   
